@charset "UTF-8";
/*
    em HTML é id    = em CSS é #
    em HTML é class = em CSS é .
*/
body {
    background-color: #ce9141cc;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: whitesmoke;
}

h1#principal {
    text-align: center;
    background-color: #241502;
    color: white;
}

h2 {
    color: rgb(255, 183, 0);
}
